exec master.dbo.xp_restore_automated @database = N'{{dest_database}}' ,
@backuppath = N'{{auto_restore_path}}',
@backupextension = N'bak',
@checksubfolders = 1,
@sourceserver = N'{{source_instance}}',
@sourcedatabase = N'{{source_database}}',
@backuptype = N'diff',
@affinity = 0,
@logging = 0,
@DontUseReplication = 1,
@withreplace = 1
GO 