SELECT DataPath = LEFT(CONVERT(sysname, SERVERPROPERTY('InstanceDefaultDataPath')),LEN(CONVERT(sysname, SERVERPROPERTY('InstanceDefaultDataPath'))) -1),
       LogPath = LEFT(CONVERT(sysname, SERVERPROPERTY('InstanceDefaultLogPath')),LEN(CONVERT(sysname, SERVERPROPERTY('InstanceDefaultLogPath'))) -1) 