$file = Get-Content -Path '{{ hostvars[dest_host].downloadpath }}\src_logins_script_{{source_database}}.sql'
foreach($row in $file)
  {
     if($row.IndexOf('WITH DEFAULT_DATABASE = ') -gt 0)
       {
           if($row.Substring($row.Length-8,6) -ne 'master')
           {
               $start = $row.LastIndexOf('DEFAULT_DATABASE')
               $end = $row.LastIndexOf(';')
               $file[$file.IndexOf($row)] = $row.Replace($row.Substring($start,$end-$start),'DEFAULT_DATABASE = [master]')
           }
       }
  }
  $file | Set-Content '{{ hostvars[dest_host].downloadpath }}\src_logins_script_{{source_database}}.sql'  