SELECT DISTINCT sd.name, (CASE WHEN hdrs.is_primary_replica IS NULL THEN 'NOT REPLICATED' WHEN EXISTS
                             (SELECT        *
                               FROM            sys.dm_hadr_database_replica_states AS irs
                               WHERE        sd.database_id = irs.database_id AND is_primary_replica = 1) 
	THEN 'PRIMARY' ELSE 'SECONDARY' END) AS agtype, COALESCE (grp.ag_name, 'N/A') AS agname, 
	CAST(ag_listener.dns_name as Varchar(64)) + ',' + CAST(ag_listener.port as varchar(24)) as listener
FROM            sys.availability_group_listeners AS ag_listener RIGHT OUTER JOIN
                         sys.dm_hadr_name_id_map AS grp ON ag_listener.group_id = grp.ag_id RIGHT OUTER JOIN
                         sys.databases AS sd LEFT OUTER JOIN 
                         sys.dm_hadr_database_replica_states AS hdrs ON hdrs.database_id = sd.database_id ON grp.ag_id = hdrs.group_id
                         where sd.name = '{{ dest_database }}'  